@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root {
    --foreground-color: #2d3134;
    --text-color: rgb(255, 255, 255);
    --accent-color: rgb(255, 83, 53);
}


body{
    background-color: #202429;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr; /* Fixed sidebar height, fixed header height, main content area fills remaining space */
    height: 100vh;
    overflow: hidden;
}
.icon{
    width: 30px;
    height: auto;
    cursor: pointer;
}
.profile-picture{
    border-radius: 50%; 
    width: 60px;
    height: 60px;
    cursor: pointer;=
}
.container > div {
    background-color: var(--foreground-color);
}

.sidebar {
    grid-column: 1 / 2; 
    grid-row: 1 / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

h1{
    font-family: "Nunito Sans";
    font-weight: 700;
}
h2,h3,h4,h5,h6,p, button{
    font-family: "Arimo";
}
.sidebar > div:first-child{
    padding: 20px;
    display: flex;
    align-items: center;
    height: 95.972 !important;
}
.sidebar > div:nth-child(2){
    transform: translateY(-55px);
    font-size: 20px;
}

.sidebar > div:nth-child(3){
    font-size: 20px;
}

.menu-button{
    cursor: pointer;
    display: flex;
    padding: 10px;
    padding-left: 50px;
    border-left: 10px solid var(--accent-color);
}
.menu-button:hover{
    background-color: #202429;
}
.menu-icon, .icon{
    width: 40px;
    filter: brightness(0) invert(1);
    cursor: pointer;
}

.menu-button > p {
    padding: 5px;
    font-weight: bold;
    color: white !important;
}

.header {
    grid-column: 2 / 3; 
    grid-row: 1 / 2; 

}

.header > div:first-child{
    display: flex;
    justify-content: space-between;
}

.search{
    display: flex;
    height: 50px;
    flex: 1;
    padding: 10px;
    align-items: center;
}
.search > img {
    margin: 10px;
}
.search > input{
    width: max(40%, 270px);
    border-radius: 40px;
    height: 30px;

}
#greeting > p:first-child{
    font-weight: bold;
    font-size: 20px;
}

#greeting > p:nth-child(2){
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.notifs{
    display: flex;
    align-items: center;
}

.notifs > * {
    padding: 10px;
}
.bottom-header{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottom-header img {
    border-radius: 50%;
    width: 80px;
}
.left-header {
    display: flex;
    align-items: center;
}

.left-header > div:nth-child(2){
    padding: 20px;
}
.right-header{
    align-self: flex-end;
}
.right-header button {
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    width: 100px;
    font-weight: bold;
    background-color: var(--accent-color);
    color: white;
}

.announcements > div{
    padding: 20px;
    border-radius: 10px;
}
.announcement{
    padding: 5px;
}
.announcements, .collaborators{
    padding: 20px;
}
div > p:nth-child(2){
    color: #b8b8b8;
}
.profile > div {
    margin: 10px;
}

.collaborators > div {
    padding: 10px;
    border-radius: 10px;
}
.content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 5fr 2fr;
    overflow-y: auto; /* Enable vertical scroll if content exceeds container height */
    background-color: transparent !important;
    margin: 20px;
    
}

.your-projects{
    grid-row: 1 / 3;
    padding: 20px;
    padding-left: 30px;
}
.your-projects > div{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}
h3{
    font-weight: bolder;

}

.project{
    height: 300px;
    background-color: var(--foreground-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}
.project:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10px; /* Width of the border */
    background-image: linear-gradient(to bottom, var(--accent-color), rgb(255, 172, 117)); /* Gradient for the border */
}
.project > div:nth-child(2){
    color: white;
}
.project > div:nth-child(2) > * {
    padding: 10px;
    padding-bottom: 0px;
    cursor: pointer;
}
.project-discription{
 padding: 10px;
}
.project-discription > div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.project > div:nth-child(2){
    display: flex;
    align-self: flex-end;
}


.icon-small{
    width: 30px;
    filter: brightness(0) invert(1);
}
.tags{
    display: flex;
    padding: 2px;
    border-radius: 10px;
    align-self: center;
    justify-content: space-evenly;
   
}

.tags > div {
    padding: 4px;
    margin: 5px;
    border-radius: 10px;

}
.announcements > div{
    background-color: var(--foreground-color);
}

.announcement a {
    color: #ffceaf;
    font-weight: 800;
}
.collaborators > div{
    background-color: var(--foreground-color);
}

.profile{
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
}

.tag1{
 background-color: #ff78c4;
}
.tag2{

    background-color: #fd91ad;
}

.tag3{
 background-color: #ffb8ae;
}
.tag4{
    background-color: #ffceaf;

}
/* Media query for small screens */
@media (max-width: 935px) {
    body {
        overflow: auto; /* Enable scrolling for the entire page */
    }

    .container {
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto 1fr; 
        height: auto; /* Allow container to expand with content */
        overflow: hidden; /* Hide overflow for the entire container */
    }

    .main-content {
        overflow: auto; 
    }

    .sidebar {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .header {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
}